<!--
event.html

Copyright 2013 Thomas Sigurdsen <thomas.sigurdsen@gmail.com>

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
MA 02110-1301, USA.
--!>

<!DOCTYPE html>
<html lang=en>
    <head>
        <title>Enrango Event</title>
    </head>
    <body>
        <h1>{{ event.title }}</h1>
        <section>
        <h2>Description:</h2>
        <p>{{ event.description }}</p>
        {% if queue_length %}
            <p>There are no free seats and {{ queue_length }} in queue.</p>
        {% elif not queue_length %}
            <p>Free seats: {{ free_seats }}</p>
            {% if future_event %}
                <h2>Enroll</h2>
                <p>Fill in this form to enroll. You will then receive an email
                with a link to the activation page for your enrollment</p>
                <!-- TODO: split address? --!>
                <form method="post" action="/event/{{ event.id }}/">
                    {% csrf_token %}
                    {{ participant_form.as_p }}
                <input type="submit" value="Submit" />
                </form>
            {% endif %}
        {% else %}
            <p>Something is wrong. Please contact an admin.</p>
        {% endif %}
        </section>
    </body>
</html>
