{% load humanize %}
<!DOCTYPE html>
<html lang=en>
    <head>
        <title>Enrango Index</title>
    </head>
    <body>
        <h1>Event Overview</h1>
        <h2>Future Events:</h2>
        <ul>
            {% for event in future_events_list %}
            <li><a href="event/{{ event.id }}/">{{ event.title }} -
                {{ event.date_event|naturaltime }}</a></li>
            {% endfor %}
        </ul>
        <h2>Past Events:</h2>
        <ul>
            {% for event in past_events_list %}
            <li><a href="event/{{ event.id }}/">{{ event.title }} -
                {{ event.date_event|naturaltime }}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>


