<!DOCTYPE html>
<html lang=en>
    <head>
        <title>Enrango</title>
        <!-- TODO: fix title --!>
    </head>
    <body>
        <h1>{{ participant.name|title }}s Enrollment Status</h1>
        <section>
        <!-- TODO: make status become a 'you are number # in line...'
        use contrib.humanize ordinal --!>
        You are currently {{ participant.status }} in 
        <a href="{{ participant.event.get_absolute_url }}">{{ participant.event.title }}</a>
        </section>
    </body>
</html>
